.homeLead {
    height: 500px;
    position: relative;
    background: #666 url('../../images/home-lead-background.png') center;
    background-size: cover;
    margin-bottom: 11em;
}

.content {
    margin: 0 auto;
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 250px;
    color: #ededed;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contentHeader {
    font-size: 60px;
    margin-bottom: 0;
}

.contentDescription {
    font-size: 22px;
    padding-bottom: 20px;
}

.navButtons {
    display: flex;
    align-items: center;
    column-gap: 5px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    background-color: #ededed;
    padding: 10px;
}